include:
  - .gitlab/ci/*.gitlab-ci.yml

stages:
  - build-test
  - migrate
  - deploy-test
  - test
  - purge
  - build
  - deploy
  - rollback
  
# dev env
build-test-image:
  stage: build-test
  extends: .build_test_template
  variables:
    ENV_TAG: integration-test-dev
    DOCKERFILE: Dockerfile-test
  only:
    - dev

build-dev:
  stage: build
  extends: .build_template
  variables:
    ENV_TAG: dev
    DOCKERFILE: Dockerfile
  only:
    - dev

migrate-dev:
  stage: migrate
  extends: .migrate_template
  variables:
    PATH_MIGRATION: migrations/postgres
    POSTGRES_LINK: $UCODE_AUTH_SERVICE_DEVDB
  only:
    - dev

deploy-dev-integration-test:
  stage: deploy-test
  extends: .deploy_template
  variables:
    NAMESPACE: ucode-integration-test
    VALUES_FILE: .helm/values-integrationTest.yml
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  only:
    - dev

test-dev:
  stage: test
  extends: .test_template
  variables:
    NAMESPACE: ucode-integration-test
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  only:
    - dev

purge-dev:
  stage: purge
  extends: .purge_template
  variables:
    NAMESPACE: ucode-integration-test
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  dependencies:
    - test-dev
  only:
    - dev

deploy-dev:
  stage: deploy
  extends: .deploy_template
  variables:
    NAMESPACE: ucode-dev
    VALUES_FILE: .helm/values-dev.yml
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  only:
    - dev

rollback-dev:
  stage: rollback
  extends: .rollback_template
  variables:
    NAMESPACE: ucode-dev
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  when: manual

# staging env
build-staging-image:
  stage: build-test
  extends: .build_test_template
  variables:
    ENV_TAG: integration-test-staging
    DOCKERFILE: Dockerfile-test
  only:
    - staging

build-staging:
  stage: build
  extends: .build_template
  variables:
    ENV_TAG: test
    DOCKERFILE: Dockerfile
  only:
    - staging

migrate-staging:
  stage: migrate
  extends: .migrate_template
  variables:
    PATH_MIGRATION: migrations/postgres
    POSTGRES_LINK: $UCODE_AUTH_SERVICE_TESTDB
  only:
    - staging

deploy-staging-integration-test:
  stage: deploy-test
  extends: .deploy_template
  variables:
    NAMESPACE: ucode-integration-test
    VALUES_FILE: .helm/values-integrationTest.yml
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  only:
    - staging

test-staging:
  stage: test
  extends: .test_template
  variables:
    NAMESPACE: ucode-integration-test
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  only:
    - staging

purge-staging:
  stage: purge
  extends: .purge_template
  variables:
    NAMESPACE: ucode-integration-test
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  dependencies:
    - test-staging
  only:
    - staging

deploy-staging:
  stage: deploy
  extends: .deploy_template
  variables:
    NAMESPACE: ucode-test
    VALUES_FILE: .helm/values-test.yml
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  only:
    - staging

rollback-staging:
  stage: rollback
  extends: .rollback_template
  variables:
    NAMESPACE: ucode-test
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  when: manual


# prod env
build-prod-image:
  stage: build-test
  extends: .build_test_template
  variables:
    ENV_TAG: integration-test-prod
    DOCKERFILE: Dockerfile-test
  only:
    - master

build-prod:
  stage: build
  extends: .build_template
  variables:
    ENV_TAG: latest
    DOCKERFILE: Dockerfile
  only:
    - master

migrate-prod:
  stage: migrate
  extends: .migrate_template
  variables:
    PATH_MIGRATION: migrations/postgres
    POSTGRES_LINK: $UCODE_AUTH_SERVICE_PRODDB
  only:
    - master

deploy-prod-integration-test:
  stage: deploy-test
  extends: .deploy_template
  variables:
    NAMESPACE: ucode-integration-test
    VALUES_FILE: .helm/values-integrationTest.yml
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  only:
    - master

test-prod:
  stage: test
  extends: .test_template
  variables:
    NAMESPACE: ucode-integration-test
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  only:
    - master

purge-master:
  stage: purge
  extends: .purge_template
  variables:
    NAMESPACE: ucode-integration-test
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  dependencies:
    - test-prod
  only:
    - master

deploy-prod:
  stage: deploy
  extends: .deploy_template
  variables:
    NAMESPACE: ucode-prod
    VALUES_FILE: .helm/values-prod.yml
    K8SCONFIGJSON: $UCODE_KUBECONFIG
  only:
    - master

rollback-prod:
  stage: rollback
  extends: .rollback_template
  variables:
    NAMESPACE: ucode-prod
    K8SCONFIGJSON: $UCODE_KUBECONFIG
  when: manual
