include:
  - .gitlab/ci/*.gitlab-ci.yml

stages:
  - build-test
  - migrate
  - deploy-test
  - test
  # - purge
  # - build
  # - deploy
  # - rollback
  
build-test-image:
  stage: build-test
  extends: .build_template
  variables:
    ENV_TAG: integration-test
    DOCKERFILE: Dockerfile-test
  only:
    - dev

build-dev:
  stage: build
  extends: .build_template
  variables:
    ENV_TAG: dev
    DOCKERFILE: Dockerfile
  only:
    - dev

migrate-dev:
  stage: migrate
  extends: .migrate_template
  variables:
    PATH_MIGRATION: migrations/postgres
    POSTGRES_LINK: $UCODE_AUTH_SERVICE_DEVDB
  only:
    - dev

deploy-integration-test:
  stage: deploy-test
  extends: .deploy_template
  variables:
    NAMESPACE: ucode-integration-test
    VALUES_FILE: .helm/values-integrationTest-dev.yml
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  only:
    - dev

test-dev:
  stage: test
  extends: .test_template
  variables:
    NAMESPACE: ucode-integration-test
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  only:
    - dev

# purge-dev:
#   stage: purge
#   extends: .purge_template
#   dependencies:
#     - migrate-dev
#     - test-dev

check-dev:
  stage: check-output
  extends: .check_template
  dependencies:
    - test-dev
  only:
    - dev

deploy-dev:
  stage: deploy
  extends: .deploy_template
  variables:
    NAMESPACE: ucode-dev
    VALUES_FILE: .helm/values-dev.yml
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  only:
    - dev

build-staging:
  stage: build
  extends: .build_template
  variables:
    ENV_TAG: test
    DOCKERFILE: Dockerfile
  only:
    - staging

build-prod:
  stage: build
  extends: .build_template
  variables:
    ENV_TAG: latest
    DOCKERFILE: Dockerfile
  only:
    - master


migrate-staging:
  stage: migrate
  extends: .migrate_template
  variables:
    PATH_MIGRATION: migrations/postgres
    POSTGRES_LINK: $UCODE_AUTH_SERVICE_TESTDB
  only:
    - staging

migrate-prod:
  stage: migrate
  extends: .migrate_template
  variables:
    PATH_MIGRATION: migrations/postgres
    POSTGRES_LINK: $UCODE_AUTH_SERVICE_PRODDB
  only:
    - master

deploy-staging:
  stage: deploy
  extends: .deploy_template
  variables:
    NAMESPACE: ucode-test
    VALUES_FILE: .helm/values-test.yml
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  only:
    - staging

deploy-prod:
  stage: deploy
  extends: .deploy_template
  variables:
    NAMESPACE: ucode-prod
    VALUES_FILE: .helm/values-prod.yml
    K8SCONFIGJSON: $UCODE_KUBECONFIG
  only:
    - master


rollback-staging:
  stage: rollback
  extends: .rollback_template
  variables:
    NAMESPACE: ucode-test
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  when: manual

rollback-dev:
  stage: rollback
  extends: .rollback_template
  variables:
    NAMESPACE: ucode-dev
    K8SCONFIGJSON: $UCODE_HZN_KUBECONFIG
  when: manual

rollback-prod:
  stage: rollback
  extends: .rollback_template
  variables:
    NAMESPACE: ucode-prod
    K8SCONFIGJSON: $UCODE_KUBECONFIG
  when: manual
