.purge_template:
  stage: purge
  image: gitlab.udevs.io:5050/docker/docker:dind
  script:
    - test_output=$(cat test_output.txt)
    - echo "Test Output"
    - cat test_output.txt
    - echo $K8SCONFIGJSON > tmp
    - yq -P tmp > /root/.kube/config
    - chmod 600 /root/.kube/config
    - DEPLOYMENT=$(echo $CI_PROJECT_NAME | sed s/_/-/g | sed s/$CI_PROJECT_NAMESPACE-//g)
    - DEPLOYMENTNAME=$(kubectl get deployment -n $NAMESPACE | grep $DEPLOYMENT | awk '{print $1}')
    - |
      if [[ "$test_output" == *"exit code 1"* || "$test_output" == *"FAILED"* || "$test_output" == *"FAIL"* ]]; then
          echo "Integration test was failed"
          kubectl delete deployment $DEPLOYMENTNAME -n $NAMESPACE
          exit 1
      else
        echo "Integration tests were successful."
        kubectl delete deployment $DEPLOYMENTNAME -n $NAMESPACE
      fi