.test_template:
  stage: test
  image: gitlab.udevs.io:5050/docker/docker:dind
  script:
    - echo $K8SCONFIGJSON > tmp
    - yq -P tmp > /root/.kube/config
    - chmod 600 /root/.kube/config
    - DEPLOYMENT=$(echo $CI_PROJECT_NAME | sed s/_/-/g | sed s/$CI_PROJECT_NAMESPACE-//g)
    - sleep 30
    - PODNAME=$(kubectl get pods -n $NAMESPACE | grep $DEPLOYMENT | awk '{print $1}')
    - echo ----- PodName ----- $PODNAME
    - kubectl exec -i  -n $NAMESPACE  $PODNAME -- go test ./grpc/service/test/... > test_output.txt
    - cat test_output.txt
  artifacts:
    untracked: false
    paths:
      - test_output.txt
