.test_template:
  stage: test
  image: gitlab.udevs.io:5050/docker/docker:dind
  script:
    - echo $K8SCONFIGJSON > tmp
    - yq -P tmp > /root/.kube/config
    - chmod 600 /root/.kube/config
    - apk add go
    - DEPLOYMENT=$(echo $CI_PROJECT_NAME | sed s/_/-/g | sed s/$CI_PROJECT_NAMESPACE-//g)
    - echo ----- Deployment ---- $DEPLOYMENT
    - PODNAME=$(kubectl get pods -n $NAMESPACE | grep $DEPLOYMENT | awk '{print $1}')
    - echo ----- PodName ----- $PODNAME
    - TESTCOMMAND=$(go test ./... )
    - echo ----- TestCommand ----- $TESTCOMMAND
    - kubectl exec -it $PODNAME $TESTCOMMAND -n $NAMESPACE > test_output.txt
    - cat test_output.txt
  artifacts:
    untracked: false
    paths:
      - test_output.txt
